# if you question any of this i WILL kms

/.vscode

/utdr/echo
/test
/gd/cbf
/bestai/script.py

/workers
/links
/chuzzle/datainfo
/archive/bestai/script.py
/assets/fonts/largest/buildscribble.py

# LIKE I'M SIMPLY NOT DONE PLEAHEHEASE I'M SLOW
/chuzzle
/utdr/shayy/assets/images/thumbnails
/utdr/shayy/assets/images/pfps
/utdr/shayy/assets/images/steam
/utdr/shayy/assets/images/twitch
tools/desktopdestroyer/data

/ucg/game/index.pck