# if you question any of this i WILL kms

/.vscode

/utdr/echo
/test
/gd/cbf
/bestai/script.py

/workers
/links
/chuzzle/datainfo
/archive/bestai/script.py
links
chuzzle
assets/fonts/largest/buildscribble.py
